@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sansation";
    font-style: normal;
    src: url("../public/Sansation.ttf") format("truetype");
  }
  @font-face {
    font-family: "Aldrich";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/aldrich/v21/MCoTzAn-1s3IGyJMVacY3w.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  h1 {
    @apply font-Aldrich  lg:text-4xl md:text-3xl sm:text-2xl;
  }
  h4 {
    @apply font-Aldrich  lg:text-5xl md:text-4xl sm:text-2xl;
  }
  h2 {
    @apply font-Sansation lg:font-light lg:text-2xl md:text-3xl sm:text-2xl;
  }
  p {
    @apply font-Sansation lg:text-base md:text-sm sm:text-xs;
  }
}


@layer components {
    .line-container::before,
    .line-container::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50%;
      background-color: #ACF601;
    }
  
    .line-container::before {
      left: 0;
      top: 0;
      transform: rotate(5deg); /* Adjust angle */
      transform-origin: left;
    }
  
    .line-container::after {
      right: 0;
      top: 0;
      transform: rotate(-5deg); /* Adjust angle */
      transform-origin: right;
    }
  }
  
